<!doctype html>
<html>
<head><!-- HTML Meta Tags -->
<title>Sign In</title>
<meta name="description" content="Sign in with google to see the content of this website!">

<!-- Google / Search Engine Tags -->
<meta itemprop="name" content="Sign In">
<meta itemprop="description" content="Sign in with google to see the content of this website!">
<meta itemprop="image" content="https://media.wired.com/photos/5926ffe47034dc5f91bed4e8/master/pass/google-logo.jpg">

<!-- Facebook Meta Tags -->
<meta property="og:url" content="https://lass-site.neonwefokwaf.repl.co">
<meta property="og:type" content="website">
<meta property="og:title" content="Sign In">
<meta property="og:description" content="Sign in with google to see the content of this website!">
<meta property="og:image" content="https://media.wired.com/photos/5926ffe47034dc5f91bed4e8/master/pass/google-logo.jpg">

<!-- Twitter Meta Tags -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:title" content="Sign In">
<meta name="twitter:description" content="Sign in with google to see the content of this website!">
<meta name="twitter:image" content="https://media.wired.com/photos/5926ffe47034dc5f91bed4e8/master/pass/google-logo.jpg">

<!-- Meta Tags Generated via http://heymeta.com -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
        body        { padding-top:70px; background-color: #111 }
    </style>
</head>
<body>
<div class="container">
    <div class="jumbotron text-center text-primary">
        <h1><span class="fa fa-lock"></span> Social Authentication</h1>
        <p>Login or Register with:</p>
        <a href="/auth/google" class="btn btn-danger"><span class="fa fa-google"></span> SignIn with Google</a>
    </div>
</div>
</body>
</html> 
