<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Conspiricy theories | Main page</title>
<script src='https://unpkg.com/ejs@3.1.6/ejs.min.js'></script>
<script type="module" src='/scripts/script.js'></script>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/navbar-static/">
<link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
<link rel="manifest" href="/favicon/site.webmanifest">
    

    <!-- Bootstrap core CSS -->
<!--<link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet">--><link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="navbar-top.css" rel="stylesheet">
    <link href="style.css" rel="stylesheet">

  </head>
  <header>
    
<nav class="navbar navbar-expand-md navbar-dark bg-transparent mb-4 head" id='navbar'>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Conspiricy theories</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/"> Home </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" href="/flatearth">Flat Earth</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/area51">Area 51</a>
        </li>
                <li class="nav-item">
          <a class="nav-link" href="/pizzaflu">Pizza flu</a>
        </li>
      </ul>
      <form class="d-flex" action='/goto'>
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name='path' style='color:white;background-color: transparent;'>
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
</header>
<body>
<div class="orbs">
  <span class="orb"></span>
  <span class="orb2"></span>
</div>
<main class="container">
<div style='color: white !important;align-content: center;justify-content: center; text-align: center;' class="bg-transparent p-5 rounded" id='area51'>

</div>
</main>
<div class="orbs">
  <span class="orb"></span>
  <span class="orb2"></span>
</div>
</body>
<br>
<br>
<br>
<br>
<br>

<hr class="divider" style='align-content: center;'></hr>
<br>
<br>
<br>
<br>
<br>
<footer class="footer mt-auto py-3 bg-transparent footer-gray fut" id='footer'>
  <div class="container" style='color: white;justify-content: center; text-align: center;'>
    <span class='text-muted'>
    contributors: <br>
    <ul> 
    <a href='https://saahil.is-a.dev'> Saahil</a><br>
    <a>Gabe</a><br>
    <a>Abby</a><br>
    </ul>
    </span>
    <span class='text-muted'>
    Assinged by:<br>
    <a href='https://www.stfrancisschool.org/overview/our-faculty-and-staff/'>Turpin</a>
    </span>
  </div>
</footer>


</html>
